<div id="map" style="height: 400px"></div>

<script language="javascript" type="text/javascript">
  var map = new L.Map('map');
  var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/005e7c081b694ec6bfdb31507369a1a4/997/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
  });
  map.addLayer(cloudmade);

  var marker, center;
  var update_place = function(e){
    var latlng = e.latlng || e.target.getLatLng();
    var setplace = function(pos){
      return function(data){
          if(data && data.length > 1){
            $("#event_event_place").val(data);
          }else{
            $("#event_event_place").val(pos.lat+","+pos.lng);
          }
        }
    };
    //$.get("/reverse_geocode", {latitude: latlng.latitude, longitude: latlng.longitude}, setplace(latlng));
    setplace(latlng)(null);
  }
  var positionHandler = function(e){
      if(marker){
        marker.setLatLng(e.latlng);
      }else{
        marker = new L.Marker(e.latlng, {draggable: true});
        marker.on('dragend', update_place);
        map.addLayer(marker);
      }
    };

  var zoom = 15;
  <% if @event.latitude and @event.longitude %>
    center = new L.LatLng(<%= @event.latitude %>, <%= @event.longitude %>);
    positionHandler({latlng: center});
  <% else %>
    // by default center the map to meditereanian sea
    var center = new L.LatLng(37.6,12.4);
    zoom = 5;
  <% end %>

  map.setView(center, zoom);

  map.on('click', positionHandler);
  map.on('click', update_place);

  var update_map = function(e){
    $.getJSON("/geocode", {place: $("#event_event_place").val()}, function(data){
        var newpos = new L.LatLng(data[0], data[1]);
        positionHandler({latlng: newpos});
        map.panTo(newpos);
        });
  }

  $("#event_event_place").change(update_map);
</script>
