// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event_description {
	width: 300px;
	height: 200px;
}

.classification_other {
	color: gray;
	font-weight: bold;
}

.classification_pushback {
	color: blue;
	font-weight: bold;
}

.classification_detained {
	color: orange;
	font-weight: bold;
}

.classification_torture {
	color: red;
	font-weight: bold;
}
